@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  color: #333;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: #333;
}

h3 {
  /* empty for the future */
}

p {
  font-size: 1.5em;
  color: #3333336b;
  text-align: center;
}

.new-body {
  width: 71vw;
  height: 89vh;
  margin: 9px;
  border: 2px solid;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 61vw;
  height: 79vh;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-name {
  width: 17vw;
  height: 30vh;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 55vw;
  height: 45vh;
  /* border-style: solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.address {
  width: 27vw;
  height: 44vh;
  /* border-style: solid; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  /* margin-top: 20px;
  margin-right: 20px; */
}

.address h2 {
  margin-top: 50px;
  margin-right: 50px;
}

.phone {
  width: 27vw;
  height: 44vh;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.phone h2 {
  margin-top: 50px;
  margin-left: 50px;
}
